@using UPSRatingAPI.Models

@model IEnumerable<RateTimeData>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Transit Day
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.SerivceName()
                </td>
                <td>
                    @item.EstimatedTime()
                </td>
                <td>
                    $@item.TotalCharge()
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>