@using UPSRatingAPI.Models

@model RatePackage

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Response.RatedShipment)
            {
                <tr>
                    <td>
                        @item.Service.Code
                    </td>
                    <td>
                        @string.Format("${0:C}", item.TotalCharges.MonetaryValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>